flows.json
[{"id":"8d6b7855.da01c8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d5e1cf63.ff614","type":"ui_form","z":"8d6b7855.da01c8","name":"","label":"","group":"645ab605.b32428","order":0,"width":0,"height":0,"options":[{"label":"Developing/Developed (1/0)","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"d","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"e","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"f","type":"number","required":true,"rows":null},{"label":"Measles","value":"g","type":"number","required":true,"rows":null},{"label":"BMI","value":"h","type":"number","required":true,"rows":null},{"label":"Under Five Deaths","value":"i","type":"number","required":true,"rows":null},{"label":"Polio","value":"j","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"k","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"l","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"m","type":"number","required":true,"rows":null},{"label":"GDP","value":"n","type":"number","required":true,"rows":null},{"label":"Population","value":"o","type":"number","required":true,"rows":null},{"label":"Thinnes 1-19 years","value":"p","type":"number","required":true,"rows":null},{"label":"Thinnes 5-9 years","value":"q","type":"number","required":true,"rows":null},{"label":"Income Composition of Resources","value":"r","type":"number","required":true,"rows":null},{"label":"Schooling","value":"s","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":80,"wires":[["32b62756.95d5c8"]]},{"id":"32b62756.95d5c8","type":"function","z":"8d6b7855.da01c8","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\n\n//following are required to receive a token\nvar apikey=\"WxUV_kZBuFrY59Lt3EBlnw4ITgZoYbh1KVVO66_eiDZQ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":80,"wires":[["86a4197d.8259b8"]]},{"id":"4fee9f52.221ae","type":"http request","z":"8d6b7855.da01c8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/0a887d6b-eb74-41e0-addd-c22cbff4dfea/deployments/33386e0f-3fe0-4747-9ad5-a3bea3e9662d/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":160,"wires":[["cec26ab7.2d4448","bc7059b4.e8ae48"]]},{"id":"29cc7aaa.002ba6","type":"debug","z":"8d6b7855.da01c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":260,"wires":[]},{"id":"bc7059b4.e8ae48","type":"function","z":"8d6b7855.da01c8","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":260,"wires":[["29cc7aaa.002ba6","f86d0b10.5e09b8"]]},{"id":"cec26ab7.2d4448","type":"debug","z":"8d6b7855.da01c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":160,"wires":[]},{"id":"f6e21108.a954b","type":"function","z":"8d6b7855.da01c8","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"0a887d6b-eb74-41e0-addd-c22cbff4dfea\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['Developing','winsorized_Adult_Mortality',\n'winsorized_Infant_Deaths','winsorized_Alcohol',\n'winsorized_Percentage_Exp',\n'winsorized_HepatitisB','winsorized_Measles','BMI',\n'winsorized_Under_Five_Deaths','winsorized_Polio',\n'winsorized_Total_Exp','winsorized_Diphtheria',\n'winsorized_HIV','winsorized_GDP',\n'winsorized_Population',\n'winsorized_thinness_1to19_years',\n'winsorized_thinness_5to9_years',\n'winsorized_Income_Composition_Of_Resources',\n'winsorized_Schooling'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":160,"wires":[["4fee9f52.221ae"]]},{"id":"86a4197d.8259b8","type":"http request","z":"8d6b7855.da01c8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":80,"wires":[["f6e21108.a954b"]]},{"id":"f86d0b10.5e09b8","type":"ui_text","z":"8d6b7855.da01c8","group":"645ab605.b32428","order":1,"width":0,"height":0,"name":"","label":"Life Expectancy Prediction","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":380,"wires":[]},{"id":"645ab605.b32428","type":"ui_group","z":"","name":"Machine Learning Model","tab":"ae96014.272fd","order":1,"disp":true,"width":"6","collapse":false},{"id":"ae96014.272fd","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]